* {
    margin: 0;
    padding: 0;
}
div.box {
    width: 40em;
    margin: 1em auto 0;
    border-style: inset;
    padding: 0 1em;
    margin-bottom: 2em;
}
h1 {
    text-align: center;
}
[class="box"] > h2 {
    text-align: center;
}
div.box1 {
   text-align: left;
   margin-top: 1em;
   width: 35em;
   border: none;
   border-right: 1px solid gray;
   padding-right: 1.5em;
   
}
p {
    margin-bottom: 1em;
}
[class="box1"] > h2, [class="boox1"] > h2 {
    margin-bottom: 0.3em;
}

div.boox {
    width: 100%;
    margin-top: 1em;
    display: flex;
}
div.boox1 {
    margin-top: 1em;
    padding-left: 1.5em;
    
}
ul {
    padding-left: 1.5em;
}